body {
    background-color: darkslategrey;
    color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body > * {
    margin: 5px;
}
a {
    text-decoration: none;
    color: orange;
}